<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credential - DIDKit Example</title>
</head>
<body>
    <p>Here is your Verifiable Credential:</p>
    <textarea th:text="${credential}" rows=4 cols=64 id="credential" readonly />
    <p><button id="add-credential-btn">Save to CHAPI wallet</button></p>
    <p><a href="/">Home</a></p>
    <script src="https://unpkg.com/credential-handler-polyfill@2.1.0/dist/credential-handler-polyfill.min.js"></script>
    <script src="/scripts/chapi-issuer.js"></script>
</body>
</html>
